#!/usr/bin/env python
PACKAGE = "visualization_tools"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()
gen.add("overallMapVoxelSize", double_t, 0, "整体地图体素大小（米）", 0.5, 0.01, 5.0)
gen.add("exploredAreaVoxelSize", double_t, 0, "探索区域体素大小（米）", 0.3, 0.01, 5.0)
gen.add("exploredVolumeVoxelSize", double_t, 0, "探索体积体素大小（米）", 0.5, 0.01, 5.0)
gen.add("transInterval", double_t, 0, "轨迹平移采样间隔（米）", 0.2, 0.01, 5.0)
gen.add("yawInterval", double_t, 0, "轨迹偏航采样间隔（度）", 10.0, 0.1, 180.0)
gen.add("overallMapDisplayInterval", int_t, 0, "整体地图发布间隔（秒）", 2, 1, 60)
gen.add("exploredAreaDisplayInterval", int_t, 0, "探索区域发布间隔", 1, 1, 60)

exit(gen.generate(PACKAGE, "visualizationTools", "VisualizationTools"))
