#!/usr/bin/env python
PACKAGE = "vehicle_simulator"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()
gen.add("use_gazebo_time", bool_t, 0, "使用 Gazebo 扫描时间对齐", False)
gen.add("cameraOffsetZ", double_t, 0, "相机高度偏移（米）", 0.0, -5.0, 5.0)
gen.add("vehicleHeight", double_t, 0, "车辆参考高度（米）", 0.75, 0.0, 5.0)
gen.add("terrainZ", double_t, 0, "地形基准高度（米）", 0.0, -10.0, 10.0)
gen.add("vehicleYaw", double_t, 0, "车辆初始偏航角（弧度）", 0.0, -3.14159, 3.14159)
gen.add("adjustZ", bool_t, 0, "按地形调整高度", True)
gen.add("adjustIncl", bool_t, 0, "按地形调整倾角", True)
gen.add("groundHeightThre", double_t, 0, "地面高度阈值（米）", 0.1, 0.0, 2.0)
gen.add("terrainRadiusZ", double_t, 0, "高度拟合半径（米）", 1.0, 0.1, 10.0)
gen.add("terrainRadiusIncl", double_t, 0, "倾角拟合半径（米）", 2.0, 0.1, 20.0)
gen.add("maxIncl", double_t, 0, "最大倾角（度）", 30.0, 0.0, 90.0)

exit(gen.generate(PACKAGE, "vehicleSimulator", "VehicleSimulator"))
