#!/usr/bin/env python
PACKAGE = "loam_interface"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()
gen.add("flipStateEstimation", bool_t, 0, "翻转外部里程计坐标轴", True)
gen.add("flipRegisteredScan", bool_t, 0, "翻转外部点云坐标轴", True)
gen.add("sendTF", bool_t, 0, "发布 map 到 sensor 的 TF", True)
gen.add("reverseTF", bool_t, 0, "发布反向 TF", False)

exit(gen.generate(PACKAGE, "loamInterface", "LoamInterface"))
