#!/usr/bin/env python
PACKAGE = "local_planner"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()
gen.add("twoWayDrive", bool_t, 0, "允许双向行驶", True)
gen.add("autonomyMode", bool_t, 0, "启用自主模式", True)
gen.add("autonomySpeed", double_t, 0, "自主模式速度（米/秒）", 0.05, 0.0, 3.0)
gen.add("lookAheadDis", double_t, 0, "前视距离（米）", 1.5, 0.1, 5.0)
gen.add("yawRateGain", double_t, 0, "正常转向增益", 10.0, 0.0, 30.0)
gen.add("stopYawRateGain", double_t, 0, "低速转向增益", 7.5, 0.0, 30.0)
gen.add("maxYawRate", double_t, 0, "最大偏航角速度（度/秒）", 45.0, 1.0, 180.0)
gen.add("maxSpeed", double_t, 0, "最大速度（米/秒）", 1.0, 0.0, 3.0)
gen.add("maxAccel", double_t, 0, "最大加速度（米/秒平方）", 0.2, 0.01, 5.0)
gen.add("switchTimeThre", double_t, 0, "前进倒车切换时间（秒）", 1.0, 0.0, 10.0)
gen.add("dirDiffThre", double_t, 0, "允许加速的方向误差（弧度）", 0.5, 0.01, 3.14)
gen.add("stopDisThre", double_t, 0, "停车距离（米）", 0.2, 0.01, 2.0)
gen.add("slowDwnDisThre", double_t, 0, "末端减速距离（米）", 2.0, 0.1, 10.0)
gen.add("noRotAtStop", bool_t, 0, "停车时禁止转向", True)
gen.add("noRotAtGoal", bool_t, 0, "到达目标时禁止转向", True)

gen.add("useInclRateToSlow", bool_t, 0, "按倾角变化率减速", False)
gen.add("inclRateThre", double_t, 0, "倾角变化率阈值（度/秒）", 120.0, 0.0, 360.0)
gen.add("slowRate1", double_t, 0, "第一阶段减速比例", 0.5, 0.0, 1.0)
gen.add("slowRate2", double_t, 0, "第二阶段减速比例", 0.75, 0.0, 1.0)
gen.add("slowTime1", double_t, 0, "第一阶段减速时间（秒）", 2.0, 0.0, 20.0)
gen.add("slowTime2", double_t, 0, "第二阶段减速时间（秒）", 1.0, 0.0, 20.0)
gen.add("useInclToStop", bool_t, 0, "按倾角停车", False)
gen.add("inclThre", double_t, 0, "停车倾角阈值（度）", 45.0, 0.0, 90.0)
gen.add("stopTime", double_t, 0, "倾角停车时间（秒）", 5.0, 0.0, 30.0)

exit(gen.generate(PACKAGE, "pathFollower", "PathFollower"))
