#!/usr/bin/env python
PACKAGE = "terrain_analysis"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()
gen.add("decayTime", double_t, 0, "历史点衰减时间（秒）", 2.0, 0.1, 60.0)
gen.add("noDecayDis", double_t, 0, "近场不衰减距离（米）", 4.0, 0.0, 30.0)
gen.add("clearingDis", double_t, 0, "清理距离（米）", 8.0, 0.0, 50.0)
gen.add("useSorting", bool_t, 0, "使用分位数地面估计", False)
gen.add("quantileZ", double_t, 0, "地面高度分位数", 0.25, 0.0, 1.0)
gen.add("considerDrop", bool_t, 0, "将落差视为障碍", True)
gen.add("limitGroundLift", bool_t, 0, "限制地面抬升", False)
gen.add("maxGroundLift", double_t, 0, "最大地面抬升（米）", 0.15, 0.0, 2.0)
gen.add("clearDyObs", bool_t, 0, "清除动态障碍", True)
gen.add("minDyObsDis", double_t, 0, "动态障碍最小距离（米）", 0.3, 0.0, 5.0)
gen.add("minDyObsAngle", double_t, 0, "动态障碍最小仰角（度）", 0.0, -90.0, 90.0)
gen.add("minDyObsRelZ", double_t, 0, "动态障碍相对高度（米）", -0.5, -5.0, 2.0)
gen.add("absDyObsRelZThre", double_t, 0, "动态高度变化阈值（米）", 0.2, 0.0, 2.0)
gen.add("minDyObsVFOV", double_t, 0, "动态判断垂直视场下限（度）", -16.0, -90.0, 90.0)
gen.add("maxDyObsVFOV", double_t, 0, "动态判断垂直视场上限（度）", 16.0, -90.0, 90.0)
gen.add("minDyObsPointNum", int_t, 0, "动态障碍最少点数", 1, 0, 100)
gen.add("noDataObstacle", bool_t, 0, "未知区域作为障碍", False)
gen.add("noDataBlockSkipNum", int_t, 0, "未知区域扩张步数", 0, 0, 20)
gen.add("minBlockPointNum", int_t, 0, "地面格最少点数", 10, 1, 200)
gen.add("minRelZ", double_t, 0, "最小相对高度（米）", -1.0, -10.0, 0.0)
gen.add("maxRelZ", double_t, 0, "最大相对高度（米）", 1.0, 0.0, 10.0)
gen.add("disRatioZ", double_t, 0, "高度范围距离比例", 0.2, 0.0, 2.0)

gen.add("voxelPointUpdateThre", int_t, 0, "体素点更新阈值", 100, 1, 1000)
gen.add("voxelTimeUpdateThre", double_t, 0, "体素时间更新阈值（秒）", 2.0, 0.1, 60.0)

exit(gen.generate(PACKAGE, "terrainAnalysis", "TerrainAnalysis"))
